<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="social-media-list">
                    <li>
                        {% include icon-gitlab.html label="View the Project on GitLab" %}
                    </li>
                    <li><a href="{{ site.repo_url }}/-/blob/main/LICENSE">License</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
