<div>
    {% for section in site.data.navigation.reference %}
    <h3>{{ section[1].title }}</h3>
    <ul>
        {% for item in section[1].items %}
        <li>
            {% if item[1].url %}
            <a href="{{ site.baseurl }}/{{ item[1].url }}" alt="{{ item[1].title }}">{{ item[1].title }}</a>
            {% else %}
            <span>{{ item[1].title }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>